flask
flask-socketio
flask-login
flask-bcrypt
flask-wtf
flask-limiter
flask-cors
flask-sqlalchemy
sqlalchemy
eventlet
python-dotenv
gunicorn
opencv-python-headless
librosa
torch
torchvision
scikit-learn
numpy
pandas
requests
Pillow
reportlab
